.container.custom-container-manage {
  overflow-y: auto;
  max-height: 350px;
}

ul.manage-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 100%;
}

.card.manage-card {
  margin-left: 20px;
}
